
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');


* {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222
}

h1 {
  font-family: 'Noto Sans KR', serif;
}

#container {
  width:600px;
  margin:0 auto;
}
table, th, td {
  border:1px solid #222;
  border-collapse: collapse;
}
th, td {
  padding:10px;
}